.container {
  height: 100vh;
  width: 100vw;
}
.stepOne {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

.title {
  color: #6e2c7e;
}
.fa:hover {
  color: #6e2c7e;
  cursor: pointer;
}
.imgContainer {
  display: flex;
}
