.container {
  height: 100vh;
  width: 100vw;
}

.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  font-family: 'Raleway', sans-serif;
}

.steps span {
  color: #9d4eb4;
}

.title {
  color: #6e2c7e;
}

.vertical-title {
  font-weight: lighter;
}

label {
  font-weight: lighter;
}

.fa:hover {
  color: #9e50b5;
  cursor: pointer;
}

.unselected {
  margin: 2px;
  color: black;
}

.selected {
  margin: 2px;
  color: #9e50b5;
}

.imgContainer {
  display: flex;
}

.finePrint {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoRow {
  background-color: #f3f3f3;
}

.tableHeaders {
  height: 100px;
}

.tableHeaders th {
  transform: rotate(-90deg);
}

.table-bordered {
  border: none;
}

td div {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: bold;
}

.addAnother {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 83%;
  height: auto;
}

.addAnother h5 {
  color: #9e50b5;
  cursor: pointer;
}

p {
  margin-left: 3%;
  font-size: 11px;
}

.costAndSavingsContainer {
  width: 83%;
  height: 100px;
  border-top: 1px solid #dddddd;
  display: flex;
  align-items: center;
}

.costAndSavingsText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 70px;
}

.card {
  border-right: 1px solid #dddddd;
}

.costAndSavingsText h1 {
  margin: 1%;
}
